column {
    float: left;
    min-height: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.interface-main {
    margin: 20px;
}

.search-box {
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

#left-col {
    width: 30%;
}

#right-col {
    width: 70%;
}

.college-search-input {
    width: 80%;
    height: calc(100% - 5px);
    font-size: 1.5em;
    border: none;
    outline: none;
    float: left;
}

.search-button {
    color: black;
    float: left;
    font-size: 1.2em;
    margin-left: 20px;
    padding: 10px;
    float: right;
}

.completion {
    font-size: 1.2em;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.completion:hover {
    box-shadow: 0 1px 5px #666666bd;
}

.subsection-title {
    font-weight: 550;
    margin-bottom: 5px;
}

#subsec-arrow {
    margin-right: 5px;
}

.subsection hr {
    height: 2px;
    background-color: black;
    border: none;
}

tr {
    border-bottom: 1px solid lightgrey;
}

tr:hover {
    background-color: lightblue !important;
}

td, th {
    padding: 10px;
}

th {
    padding-bottom: 5px;
    background-color: white !important;
}

.data-holder table {
    width: 100%;
    text-align: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    border-collapse: collapse;
}

.news-article {
    width: calc(33% - 20px);
    margin: 10px;
    float: left;
    height: 350px;
    color: black;
}

.thumbnail {
    width: 100%;
    margin-bottom: 5px;
    height: 215px;
    object-fit: cover;
}

.headline {
    margin: 0px;
    margin-bottom: 5px;
}

.byline {
    margin: 0px;
}

.date {
    margin-top: 5px;
}